.productList{
  position: relative;
  padding: 40px 20px 20px 20px;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));


  .total{
    left: 20px;
    top: 12px;
    position: absolute;
  }
}