.productList{
  position: relative;
  padding: 40px 200px 20px 200px;
  height: 100%;
  overflow: auto;

  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));


  .total{
    left: 20px;
    top: 12px;
    position: absolute;
  }
}