.productItem{
  height: 350px;
  width: 100%;
  border: 1px solid var(--border-primary);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-card);

  cursor: pointer;
  transition: .2s;

  &:hover{
    transform: scale(1.02);
  }
}