.headerWrap{
  width: 100%;
  padding: 12px 20px;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;


  .title{
    font-size: 24px;
    font-weight: 600;
  }
}

.navWrap{
  display: flex;
  gap: 16px;


  .link{

  }
}