.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  .logo{
    margin-left: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
  }

  .links{
    display: inline-flex;
    column-gap: 20px;

    .active{
      cursor: auto;
      border-bottom: 2px solid white;
      pointer-events: none;
    }
    &>a:not(.active):hover{
      border-bottom: 2px solid white;
    }
  }
}